#navText {
  color: rgb(15, 194, 194);
}
body {
  background: url(../Weather-Dashboard/assets/images/blue-sky.jpg);
}
#subBtn {
  color: rgb(100, 255, 80);
}

input {
  width: 75%;
}

#city-list {
  width: 22rem;
}

#forecast-cards {
  display: flex;
  flex-direction: row;
  justify-content: center/space-between;
}

.forecast {
  margin: 10px;
}
